* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

:root {
  --bg-light: #ffffff;
  --bg-dark: #1a1520;
  --text-light: #4a3a51;
  --text-dark: #ffe1f5;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark-theme {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.light-theme {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.dark-theme {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

